html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #133852;
}

p {
    color: #717171;
    font-size: 17px;
    line-height: 29px;
}

@media (max-width: 768px) {
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
}


/* navbar */
.navbar-brand img {
    width: 170px;
}

.navbar-light .navbar-nav .nav-link {
    padding: 0px 20px;
    font-weight: 700;
    color: #133852;
    font-size: 17px;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .navbar-brand img {
        width: 120px;
    }

    #navbarContent {
        position: absolute;
        top: 65px;
        left: 0;
        z-index: 9999;
        width: 100%;
    }

    .navbar-nav {
        background-color: #01212b;
    }

    .navbar-light .navbar-nav .nav-link {
        padding: 7px 15px;
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        border-bottom: 1px solid #08485b;
    }

    .navbar {
        padding: 5px 5px;
    }
}

/* //navbar */

/* kloud intro */
.kloud-intro h1 {
    border-top: 1px solid #cecece;
    text-transform: uppercase;
    padding-top: 20px;
    font-weight: 700;
}
.kloud-intro h2 {
    border-bottom: 1px solid #cecece;
    padding-bottom: 20px;
    font-weight: 600;
    margin-top: 20px;
    color: #616161;
    font-size: 32px;
}
.kloud-intro span {
    color: #ff5e14;
    font-weight: 700;
}
.kloud-intro i {
    color: #133852;
    font-weight: 700;
    font-style: normal;
}

@media (min-width: 320px) and (max-width: 375px) {
    .kloud-intro h1 {
        font-size: 32px;
    }
    .kloud-intro h2 {
        font-size: 23px;
        line-height: 32px;
    }
}
@media (min-width: 376px) and (max-width: 414px) {
    .kloud-intro h1 {
        font-size: 32px;
    }
    .kloud-intro h2 {
        font-size: 25px;
        line-height: 35px;
    }
}
/* //kloud intro */

/* process */
.process img {
    width: 100px;
}

.process h2 {
    margin-bottom: 3rem;
    font-weight: 600;
    font-size: 32px;
}

.process p {
    margin-top: 18px;
    font-weight: 600;
    font-size: 23px;
}

.process figure {
    padding: 14px 0px;
    box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.2);
}

/* process */

/* about */
.about h2 {
    text-align: center;
    margin-bottom: 28px;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 600;
}

.about h3 {
    color: #800;
    text-transform: capitalize;
}
.about ul {
    padding-inline-start: initial;
    margin-top: 15px;
}
.about ul li {
    font-size: 18px;
    color: #717171;
    list-style: none;
    margin-bottom: 7px;
    display: flex;
}
.about ul li::before {
    content: '\f00c';
    font-size: 17px;
    display: inline-block;
    color: #133852;
    font-family: 'FontAwesome';
    padding-right: 15px;
}
.about ol {
    padding-inline-start: inherit;
}
.about ol li {
    list-style: disc;
    color: #717171;
    font-size: 18px;
    margin-bottom: 7px;
}

.about p strong {
    color: #717171;
    font-size: 19px;
    display: inline-block;
    line-height: 27px;
}
.about video {
    max-width: 100% !important;
    height: auto !important;
}
.about .btn-danger {
    background-color: #ff5e14;
    border-color: #ff5e14;
    border-radius: 25px;
    padding: 10px 23px;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 26px;
}

@media (max-width: 674px) {
    .about h3 {
        margin-top: 22px;
    }

    .about p strong {
        text-align: left !important;
    }

    .about p {
        text-align: justify;
    }
}

/* //about */

/* filter gallery */
.portfolio {
    background: url('../images/portfolio-bg.jpg') no-repeat;
    background-color: #717171;
    height: 800px;
    background-size: cover;
    background-position: center center;
    padding: 30px 0px;
    position: relative;
    background-attachment: fixed;
}

.portfolio h2 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 22px;
    font-size: 32px;
    color: #fff;
}

.portfolio-menu {
    text-align: center;
}

.portfolio-menu ul {
    margin-bottom: 50px;
}
.btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled):active, .show>.btn-outline-dark.dropdown-toggle{
    background-color: #ff5e14 !important;
    padding: 10px 25px;
}
.portfolio-menu ul li {
    display: inline-block;
    margin: 0px 5px;
    list-style: none;
    font-weight: 600;
    padding: 10px 15px;
    background-color: #fff;
    box-shadow: 1 3px 5px 0 rgba(204,204,204,.8);
    border-radius: 25px;
    border-color: #fff;
    cursor: pointer;
    -webkit-transition: all 05s ease;
    -moz-transition: all 05s ease;
    -ms-transition: all 05s ease;
    -o-transition: all 05s ease;
    transition: all .5s ease;
}


.portfolio-item {
    /*width:100%;*/
}

.portfolio-item .item {
    /*width:303px;*/
    float: left;
    margin-bottom: 10px;
}

@media (min-width: 320px) and (max-width: 375px) {
    .portfolio {
        height: 1000px;
    }
}
@media (min-width: 376px) and (max-width: 414px) {
    .portfolio {
        height: 1085px;
    }
}
@media (min-width: 415px) and (max-width: 568px) {
    .portfolio {
        height: 1095px;
    }
}
@media (max-width: 674px) {
    .portfolio-menu ul {
        padding-inline-start: initial;
    }
    .portfolio-menu ul li {
        margin-bottom: 13px;
    }
}

/* //filter gallery */

/* testominial */
.testimonial_section {
    display: block;
    overflow: hidden;
}
.testimonial_section .btn-dark {
    background-color: #ff5e14;
    border-color: #ff5e14;
    border-radius: 25px;
    padding: 10px 23px;
    font-size: 16px !important;
    display: inline-block;
}

.testimonial_section:after {
    display: block;
    clear: both;
    content: "";
}

.testimonial_section .about_content {
    background-color: #020d26;
    padding-top: 77px;
    padding-right: 210px;
    padding-bottom: 62px;
    position: relative;
}

.testimonial_section .about_content .background_layer {
    background-color: #020d26;
    width: auto;
    margin-left: -200px;
    right: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.testimonial_section .about_content .layer_content {
    position: relative;
    z-index: 9;
    height: 100%;
}

.testimonial_section .about_content .layer_content .section_title {
    margin-bottom: 24px;
    position: relative;
}

.testimonial_section .about_content .layer_content .section_title:after {
    display: block;
    clear: both;
    content: "";
}

.testimonial_section .about_content .layer_content .section_title h5 {
    color: #fff;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #818a8f;
    margin-top: -5px;
    margin-bottom: 6px;
}

.testimonial_section .about_content .layer_content .section_title h2 {
    /* font-family: "Titillium Web"; */
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    padding-bottom: 51px;
    margin-bottom: 0px;
    color: #d6d6d6;
}

.testimonial_section .about_content .layer_content .section_title h2 strong {
    font-weight: 600 !important;
    width: 100%;
    display: block;
}

.testimonial_section .about_content .layer_content .section_title .heading_line {
    position: relative;
}

.testimonial_section .about_content .layer_content .section_title .heading_line span {
    transition: all 0.5s ease-in-out 0s;
    position: relative;
}

.testimonial_section .about_content .layer_content .section_title .heading_line span:after {
    content: "";
    right: auto;
    left: 69px;
    position: absolute;
    bottom: 28px;
    width: 17px;
    margin-left: 0;
    border-bottom-width: 3px;
    border-bottom-color: #cacaca;
    border-bottom-style: solid;
}

.testimonial_section .about_content .layer_content .section_title .heading_line:after {
    content: "";
    left: 1%;
    margin-left: 0;
    position: absolute;
    bottom: 28px;
    width: 59px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #ff5e14;
}

.testimonial_section .about_content .layer_content .section_title p {
    color: #fff;
    margin: 0 0 15px;
}

.testimonial_section .about_content .layer_content a {
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s;
}

.testimonial_section .about_content .layer_content a i {
    font-size: 18px;
    vertical-align: middle;
}

.testimonial_section .about_content .layer_content a:hover {
    color: #ff5e14;
}

.testimonial_section .testimonial_box {
    margin-top: 60px !important;
    position: relative;
}

.testimonial_section .testimonial_box .testimonial_container {
    background-color: #ff5e14;
    margin-left: -170px !important;
    position: relative;
}

.testimonial_section .testimonial_box .testimonial_container .background_layer {
    background-color: #ff5e14;
    width: auto;
    margin-right: -200px;
    right: 0;
    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}

.testimonial_section .testimonial_box .testimonial_container .layer_content {
    position: relative;
    z-index: 9;
    height: 100%;
}

.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel {
    display: block;
    position: relative;
}

.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials {
    margin: 10px 0 10px 0;
    padding: 62px 0px 72px 50px;
    position: relative;
    text-align: center;
}

.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content {
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.13);
    margin-left: 150px;
    margin-top: 69px;
    padding: 45px 40px 45px 40px;
    z-index: 1;
    position: relative;
    background-color: #fff;
    transition: all 0.5s ease-in-out 0s;
}

.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption {
    margin-bottom: 15px;
    position: relative;
}

.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption:after {
    content: "";
    width: 30px;
    display: block;
    height: 2px;
    text-align: center;
    left: 46%;
    margin-top: 6px;
    background-color: #ff5e14;
    position: absolute;
}

.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption h6 {
    padding-top: 0;
    margin-bottom: -5px;
    font-size: 19px;
    font-weight: 600;
    line-height: 24px;
    color: #020d26;
}

.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption span {
    font-size: 12px;
    color: #9f9f9f;
    margin: 0;
}

.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content p {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #525252;
    font-style: italic;
}

.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .images_box .testimonial_img {
    border: none;
    position: absolute;
    top: 0;
    left: 55px;
    top: 80px;
}

.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .images_box .testimonial_img img {
    border: 5px solid #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    width: 35%;
}

.testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-prev {
    position: absolute;
    top: 165px;
    right: 42px;
    border-radius: 0;
    background: #ff5e14;
    display: block;
    outline: 0;
    width: 34px;
    line-height: 34px;
    height: 34px;
    color: #fff;
    font-size: 23px;
    margin-top: -20px;
    transition: all 0.3s ease-in-out;
}

.testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-prev:hover {
    background: #020d26;
}

.testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-next {
    position: absolute;
    top: 165px;
    right: 5px;
    border-radius: 0;
    display: block;
    background: #ff5e14;
    outline: 0;
    width: 34px;
    text-align: center;
    line-height: 34px;
    height: 34px;
    color: #fff;
    font-size: 23px;
    margin-top: -20px;
    transition: all 0.3s ease-in-out;
}

.testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-next:hover {
    background: #020d26;
}

@media all and (max-width: 991px) {
    .testimonial_section .about_content {
        padding-right: 15px !important;
    }

    .testimonial_section .about_content .background_layer {
        width: 200% !important;
    }

    .testimonial_section .testimonial_box {
        margin-top: 0 !important;
    }

    .testimonial_section .testimonial_box .background_layer {
        width: 200% !important;
        margin-left: -200px;
    }

    .testimonial_section .testimonial_box .about_content {
        padding-left: 15px !important;
        padding-right: 15px !important;
        margin-top: 28% !important;
    }

    .testimonial_section .testimonial_box .testimonial_container {
        margin-left: -15px !important;
    }

    .testimonial_section .testimonial_box .testimonial_container .testimonials {
        margin: 0px 0 20px 0;
    }

    .testimonial_section .testimonial_box .testimonial_container .testimonials .testimonial_content {
        margin-left: -36px !important;
    }

    .testimonial_section .testimonial_box .testimonial_container .testimonials .images_box {
        display: none;
    }
}

/* phone whatsapp number */
.phone-whatsapp {
    background-color: #133852;
}

.phone-whatsapp h4 {
    color: #fff;
    font-size: 28px;
}

.phone-whatsapp .btn-primary {
    background-color: #fff;
    padding: 17px 26px;
    font-weight: 700;
    border-color: #133852;
    color: #133852;
    border-radius: 100px;
    margin-bottom: 12px;
}

.phone-whatsapp img {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-right: 10px;
}

/* phone whatsapp number */

/* footer */
footer {
    background-color: #ddeaf7;
}
footer h3 {
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 32px;
}
footer p {
    text-align: justify;
}
footer ul {
    padding-inline-start: initial;
}
footer .footer-social li {
    list-style: none;
    display: inline-block;
    /* margin: 0px 10px; */
}
.footer-social .fa {
    margin: 0px 5px;
    background-color: #ff5e14;
    padding: 10px 10px;
    border-radius: 100px;
    color: #fff;
}
.footer-social .fa-facebook {
    padding: 10px 13px;
}
.footer-menu li {
    list-style: none;
}
.footer-menu li a {
    font-size: 17px;
    color: #4c4c4c;
    line-height: 36px;
    font-weight: 500;
    text-transform: capitalize;
}
.footer-contact li {
    list-style: none;
    margin-bottom: 12px;
    font-size: 17px;
    color: #4c4c4c;
}

/* footer */