<!Doctype html>
<html lang="en">

<head>
  <title>home page</title>
  <meta name="description" content="description">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/footer.css">

  <link rel="shortcut icon" type="image/png" href="images/favicon.png" />

</head>

<body>
    <!-- phone whatsapp number -->
  <section class="container-fluid py-5 phone-whatsapp">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 text-center mb-4">
          <h4>Talk To Our Friendly Team Experts</h4>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <div class="row justify-content-center">
          <div class="col-md-3 col-lg-3 col-sm-12">
            <a href="tel:+12134717477" class="btn btn-primary" target="_blank"><img src="/images/phone.webp"
                class="img-fluid" alt=""> +1 (213) 471-7477</a>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-12">
            <a href="https://api.whatsapp.com/send?phone=+1 213-787-1777" class="btn btn-primary" target="_blank"><img
                src="/images/whatsapp.webp" class="img-fluid" alt=""> +1 (213) 787-1777</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //phone whatsapp number -->

  <!-- footer -->
  <footer class="container-fluid text-center">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-sm-12">
        <h5>quick menu</h5>
        <ul>
          <li><a href="#">Lorem</a></li>
          <li><a href="#">about us</a></li>
          <li><a href="#">services</a></li>
          <li><a href="#">help center</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-12">
        <h5>legal</h5>
        <ul>
          <li><a href="#">privacy policy</a></li>
          <li><a href="#">terms & conditions</a></li>
          <li><a href="#">disclaimer</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-12">
        <h5>contact us</h5>
        <ul>
          <li><a href="tel:+12134717477">+1 (213) 471-7477</a></li>
          <li><a href="mailto:support@loremipsum.com">support@loremipsum.com</a></li>
          <li>820, Golf Course Road Sector 42, Gurugram Haryana - 122001, India</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-12">
        <h5>social media presence</h5>
        <ul class="footer-social">
          <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube-square"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 text-center">
        <p class="text-white mt-3"> &copy; 2020. All Rights Reserved</p>
      </div>
    </div>
  </footer>
  <!-- footer -->
    
</body>

